<style>
  .slideshow-container {
    position: relative;
  }
.slideshow-container.page-width {
    padding: 3% 0px 1% 0px;
}
  .details_icon {
    display: flex;
    justify-content: center;
}
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #a88f73;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .dot-container {
    text-align: center;
  }
  .dot {
    display: inline-block;
    transition: background-color 0.6s ease;
    width: 16px;
    height: 8px;
    background-color: #e6e6e6;
    cursor: auto;
    border-radius: 25%;
    transition: background-color 0.6s ease;
  }
  .testimonial_img img.image-section-two.active {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

  p.author, .test_heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

  .mySlides .test_text {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}
  .test_text {
    font-size: 18px;
}
  .test_heading h2 {
    color: #a46e3b;
}
a:not([href]) {
  cursor: pointer!important;
}

  @media (min-width:1600px){
      .mySlides .test_text {
        max-width: 60%!important;
      }
  }
   @media (min-width:1024px) and (max-width:1599px){
      .mySlides .test_text {
        max-width: 80%!important;
      }
  }
</style>
<div class="slideshow-container page-width">
  <div class="details_icon">
					<img src="{{ section.settings.image | img_url: 'master'}}" width="95px" height="80px">
				</div>
    {% for block in section.blocks %}
        <div class="mySlides" style="display:{% if forloop.index == 1 %}block{% else %}none{% endif %}">
           <div class="testimonial_img"> <div class="image-section-two {% if forloop.index == 1 %}active{% endif %}"></div>
             <div class="test_heading"><h2>{{  block.settings.test_h }}</h2></div>
            <div class="test_text">{{ block.settings.title }} </div>
            <p class="author"><em><b>- {{ block.settings.author_title }}</b></em></p>
        </div>
    {% endfor %}

  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div>

<div class="dot-container">
    {% for block in section.blocks %}
        <span class="dot {% if forloop.index == 1 %}active{% else %}{% endif %}" onclick="currentSlide({{ forloop.index }})"></span>
    {% endfor %}
</div>

{% schema %}
{
  "name": "text-slider",
  "settings": [
     {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "column images text",
      "limit": 3,
      "settings": [
          {
          "type": "text",
          "id": "test_h",
          "label": "testimonials Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
            "type": "text",
            "id": "author_title",
            "label": "Author name",
            "default": "Add a title or tagline"
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "text-slider",
      "blocks": [
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

    setInterval(()=>{
        plusSlides(1);
    }, 2200)

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName('mySlides');
    var dots = document.getElementsByClassName('dot');
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(' active', '');
    }
    slides[slideIndex - 1].style.display = 'block';
    dots[slideIndex - 1].className += ' active';
  }
</script>
