<style>
  .section_one img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
  .section_one .details_text h3 {
     position: absolute;
     top: 86%;
     left: 4%;
 }
   .section_one_colmn{
     position:relative;
   }
   .section_one_colmn {
    padding: 10px;
}

{% comment %} Custom CSS {% endcomment %}
.section_one_colmn {
  padding: 10px;
}

.details_text h3 {
  /* position: absolute; */
}

.details_text {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 10px;
}

.details_img {
  height: 300px;
}

.details_img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.details-button {
  position: absolute;
  top: 80%;
  z-index: 99;
}
 </style>
 
 <div class="page-width section_one">
   <div class="grid gap grid--3-col">
      {% for block in section.blocks %}
        {% if forloop.index == 2 or forloop.index == 5 or forloop.index == 8 %}
       <div class="col-2 section_one_colmn">
         {% if block.type == "column" %}
             <div class="details_img">
               <img src="{{ block.settings.image | img_url: 'master' }}" loading="lazy" height="100" width="100"/>
             </div>
            
             <div class="details_text">
                <h3>{{ block.settings.title }}</h3>
             </div>
             <div class="details-button">
              <a href="{{ block.settings.button_link }}">{{ block.settings.button_name }}</a>
             </div>
        {% endif %}
       </div>
     {% else %}
      <div class="col-4 section_one_colmn">
            {% if block.type == "column" %}
             <div class="details_img">
              <img src="{{ block.settings.image | img_url: 'master' }}" loading="lazy" height="100" width="100"/>
             </div>
             <div class="details_text">
                <h3>{{ block.settings.title }}</h3>
             </div>
             <div class="details-button">
              <a href="{{ block.settings.button_link }}">{{ block.settings.button_name }}</a>
             </div>
        {% endif %}
       </div>
       {% endif %}
     {% endfor %}
   </div>
 </div>
 
 {% schema %}
   {
     "name": "section-one",
     "settings": [],
     "blocks":[
       {
         "type": "column",
         "name":"block_one",
         "limit":10,
         "settings": [
               {
                 "type": "image_picker",
                 "id": "image",
                 "label": "Image"
               },
               {
                 "type": "text",
                 "id": "title",
                 "label": "Heading",
                 "default": "Add a title or tagline"
               },
                {
                 "type": "url",
                 "id": "button_link",
                 "label": "Button link"
               },{
                "type": "text",
                "id": "button_name",
                "label": "Button name"
              }
         ]
       }
     ],
     "presets": [
     {
       "name": "section-one",
       "blocks": [
         {
           "type": "column"
         }
       ]
     }
   ]
   }
 {% endschema %}
 
 {% stylesheet %}
 {% endstylesheet %}
 
 {% javascript %}
 {% endjavascript %}